extends layout

block content

  h1 The Pursuit of Software Bliss
  h4(class='text-primary text-right')  Welcome to Harry Chou's Web Site

  p My name is Harry Chou. I am a software developer living in Baltimore, Maryland area. I have worked on various products and projects during my years participaing/leading different software teams. 

  p I like everything about developing software - from the theory/math/algorithm to the tools and team practices. Like many software practioners, I work hard to deliver awesome software products and also improve the art of software delivery.

  style
    body {margin:auto;width:600px;padding:20px}