extends layout

block content
  div(class='jumbotron')
    h1 The Pursuit of Software Bliss
    h4(class='text-primary text-right') - Welcome to Harry Chou's Web Site

  div(style='background-color:rgba(120,120,120,0.5);color:white;padding:30px') 
    p My name is Harry Chou. I am a software developer living in Baltimore, Maryland area. I have worked on various products and projects during my years participaing/leading different software teams. 

    p I like everything about developing software - from the theory/math/algorithm to the tools and team practices. Like many software practioners, I work hard to deliver awesome software products and also improve the art of software delivery.

  style
    body {margin-left:130;width:1200px;padding:50px;background:transparent}